body {
    background: #181818;
    color: #fff;
    min-height: 100vh;
}

.mobile-frame {
    max-width: 800px;
    min-height: 100vh;
    margin: 0 auto;
    background: #222;
    border-radius: 24px;
    box-shadow: 0 0 24px #000a;
    border: 1px solid #333;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
}

.navbar, .navbar-bottom {
    border-radius: 24px 24px 0 0;
}

.navbar-bottom {
    border-radius: 0 0 24px 24px;
    box-shadow: 0 -2px 8px #0006;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.accordion-item {
    background: #23272b;
    color: #fff;
    border: none;
}

.accordion-button {
    background: #23272b;
    color: #fff;
}

.btn-mobile {
    width: 100%;
    margin-bottom: 10px;
}

.container.flex-grow-1 {
    flex-grow: 1;
    margin-bottom: 70px; /* Espacio para la navbar inferior */
}

@media (max-width: 850px) {
    .mobile-frame {
        max-width: 100vw;
        border-radius: 0;
        box-shadow: none;
        min-height: 100vh;
    }
}


#titol::placeholder {
    color: #cccccc;
    opacity: 1;
    font-size: 1.5rem;
}
#titol {
    border-left: none !important;
    border-right: none !important;
    border-top: 2px solid #222 !important;
    border-bottom: 2px solid #222 !important;
    border-radius: 0 !important;
    background-color: #181818 !important;
    color: #fff !important;
    font-size: 1.5rem;
}

.agrega_un_exercici {
    display: flex;
    flex-direction: column;
    justify-content: center;   /* Centra verticalment */
    align-items: center;       /* Centra horitzontalment */
    min-height: 45vh;          /* Ajusta segons el que necessitis */
    width: 100%;
}

.agrega_un_exercici > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.agrega_un_exercici h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8c8b8b;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 5px 0;
}

.agrega_un_exercici button {
    margin-top: 30px;
    background-color: rgba(241, 241, 93, 0.858);
    color: black;
}